name: Build

on: 
  push:
      branches:
        - master

jobs:
  release_draft:
        permissions:
            contents: write
            pull-requests: write
            checks: write
        runs-on: ubuntu-latest
        steps:
            - uses: release-drafter/release-drafter@v5
              id: release-drafter
              with:
                  config-name: 'release-drafter-config.yml'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        outputs:
            release_id: ${{ steps.release-drafter.outputs.id }}

  release:
    needs: release_draft
    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    strategy:
      matrix:
        os: [windows-latest]


    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
          npm ci
          echo -e "\033[32m"Dependencies Installation Completed
        shell: bash

      - name: Build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run dist:win
          echo -e "\033[32m"Build Completed
        shell: bash
      
      - name: Publish Release
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const release_id = ${{ needs.release_draft.outputs.release_id }};
            if (release_id) {
              await github.rest.repos.updateRelease({
                owner: context.repo.owner,
                repo: context.repo.repo,
                release_id: release_id,
                draft: false
              });
            }

  build:
    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    strategy:
      matrix:
        os: [windows-latest]
    

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Dependencies
        run: |
          npm ci
          echo -e "\033[32m"Dependencies Installation Completed
        shell: bash

      - name: Build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run dist:win
          echo -e "\033[32m"Build Completed
        shell: bash